#titleBar{
	-fx-background-color : 	#C0C0C0;
}
#background{
	-fx-background-color : #E8E8E8;
}

#buttons:hover{ /* used for all the things that need a hand instead of a cursor when hover over */
	-fx-cursor: hand;
}

.scroll-pane{
	-fx-background : #E8E8E8;
	-fx-border-color: #E8E8E8;
}

#imageButtons{
	-fx-border-color : #A9A9A9;
	-fx-border-radius : 15;
	-fx-background-radius : 15;
}

#imageButtons:hover{
	-fx-cursor: hand;
	-fx-scale-y:1.05;
	-fx-scale-x:1.05;
}

#imageButtons:pressed{
	-fx-background-color : #C0C0C0;
	-fx-border-color: #989898;
	-fx-scale-y:1;
	-fx-scale-x:1;
}

#labels{ /* used for anchor panes buttons inside Clients and Products */
	-fx-text-fill: #282828;
}

#mainlabels{ /* used for labels inside the Main Window */
	-fx-text-fill: #282828;
	-fx-font-family: arial;
	-fx-font-style: italic;
	-fx-font-weight: bold;
	-fx-font-size: 20;
}

#textFieldLabels{ /* used for configuring the labels inside addClient and addProduct */
	-fx-text-fill : #282828;
	-fx-font-family: Serif;
	-fx-font-weight: bold;
	-fx-font-style: italic;
	-fx-font-size: 16;
}

#splitBar{
	-fx-background-color: #C0C0C0;
	-fx-background-radius:10;
}

#smallButtons{
	-fx-background-radius:60;
	-fx-pref-width: 10;
	-fx-pref-height: 10;
	-fx-font-size: 10;
}